<ion-view view-title="Impressum" padding>
  <ion-content class="padding">
    <div class="container" >
      <h2>Angaben gemäß § 5 TMG:</h2>
      <p>Universität<br />
        Nobelstrasse 10<br />
        70569 Stuttgart
      </p>
      <h2>Vertreten durch:</h2>
        Christoph Strauß, Can Kattwinkel, Eduard Ermanntraut </br>
        Nobelstrasse 10<br />
        70569 Stuttgart
      <h2>Kontakt:</h2>
      <table><tr>
        <td>Telefon:</td>
        <td>0711 892310</td></tr>
        <tr><td>Telefax:</td>
          <td>0711 892310</td></tr>
        <tr><td>E-Mail:</td>
          <td>info@hdm-stuttgart.de</td>
        </tr></table>
      <p> </p>
    </div>
  </ion-content>
</ion-view>

