<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title"><div>iBeacon  App</div></h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <!--<ion-item nav-clear menu-close ng-click="login()">
          Login
        <i class="icon ion-chevron-right pull-right "></i></ion-item>-->


        <ion-item nav-clear menu-close href="#/app/radar">Stände finden <i class="icon ion-chevron-right pull-right "></i></ion-item>
        <ion-item nav-clear menu-close href="#/app/fav">Favoriten   <i class="icon ion-chevron-right pull-right "></i></ion-item>
        <ion-item nav-clear menu-close href="#/app/liste">Ausstellerliste<i class="icon ion-chevron-right pull-right "></i></ion-item>
        <!-- <ion-item nav-clear menu-close href="#/app/maps">Messegelände<i class="icon ion-chevron-right pull-right "></i></ion-item> -->
        <ion-item nav-clear menu-close href="#/app/anreisen">An- und Abreise<i class="icon ion-chevron-right pull-right "></i></ion-item>
        <ion-item nav-clear menu-close href="#/app/parken">Parkplätze<i class="icon ion-chevron-right pull-right "></i></ion-item>
       <!-- <ion-item nav-clear menu-close href="#/app/about">über iBeacon<i class="icon ion-chevron-right pull-right "></i></ion-item>-->
        <ion-item nav-clear menu-close href="#/app/impressum">Impressum<i class="icon ion-chevron-right pull-right "></i></ion-item>
        <!--<ion-item nav-clear menu-close href="#/app/datenschutz">Datenschutz<i class="icon ion-chevron-right pull-right "></i></ion-item>-->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
