<ion-view view-title="{{articles.name}}">
    <ion-nav-buttons side="right">
      <i ng-click="makeFav(articles.id)" class=" navBarBtn icon ion-heart"></i>
      <i ng-click="rmFav(articles.id)" class=" navBarBtn icon ion-heart-broken"></i>
    </ion-nav-buttons>
  <ion-content class="single">

  <div>
    <carousel interval="myInterval" disable-animation="true">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
       <!--   
             ausgeblendet
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>

          -->

        </div>
      </slide>
    </carousel>
  </div>



dasd

          <h3 class="project-title">{{articles.name}}</h3>
          {{articles.shortDesc}}

  <tabset justified="true">
    <tab heading="Details"> {{articles.longDesc}}</tab>
    <tab heading="Team">{{articles.team}}</tab>
    <tab heading="Umsetzung">{{articles.development}}</tab>
    <tab heading="Kontakt">{{articles.contact}}</tab>
  </tabset>

  </ion-content>
</ion-view>

