<ion-view view-title="{{articles.name}}">
    <ion-nav-buttons side="right">
      <i ng-click="makeFav(articles.id)" class=" navBarBtn icon ion-heart" ng-show="!fav"></i>
      <i ng-click="rmFav(articles.id)" class="navBarBtn icon ion-heart-broken" ng-show="fav"></i>
    </ion-nav-buttons>
  <ion-content class="single">

  <div>
    <carousel interval="myInterval" disable-animation="true">
      <slide ng-repeat="img in articles.img" active="slide.active">
        <img ng-src="{{img}}" style="margin:auto;">
        <div class="carousel-caption">
       <!--
             ausgeblendet
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>

          -->

        </div>
      </slide>
    </carousel>
  </div>




<div class="padding main">
          <h3 class="project-title">{{articles.name}}</h3>
          <p>{{articles.shortDesc}}</p>
</div>
        <div class="tabset">
          <tabset justified="true" >
            <tab heading="Details">
                <p ng-bind-html="articles.longDesc"></p>
            </tab>
            <tab heading="Team">
                <p ng-bind-html="articles.team"></p>
            </tab>
            <tab heading="Umsetzung">
                <p ng-bind-html="articles.development"></p>
            </tab>
            <tab heading="Kontakt">
                <p ng-bind-html="articles.contact"></p>
            </tab>
          </tabset>
        </div>
  </ion-content>
</ion-view>
