<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.tadeussenf.beacon" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Beacon</name>
  <description>
   HdM iBeacon app
  </description>
  <author email="tadeussenf@fastmail.fm" href="http://www.hdm-stuttgart.de/">
   HdM Team
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="4000"/>
  <preference name="android-minSdkVersion" value="19" />
  <platform name="android">
    <icon src="icons/icon.png"/>

    <!-- you can use any density that exists in the Android project
    hdpi 480x800
    ldpi 240x320
    mdpi 720x480
    xhdpi 1920x1080

    <splash src="icons/android-splash-land-hdpi.png" density="land-hdpi"/>
    <splash src="icons/android-splash-land-ldpi.png" density="land-ldpi"/>
    <splash src="icons/android-splash-land-mdpi.png" density="land-mdpi"/>
    <splash src="icons/android-splash-land-xhdpi.png" density="land-xhdpi"/>
    -->

    <splash src="icons/android-splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="icons/android-splash-port-ldpi.png" density="port-ldpi"/>
    <splash src="icons/android-splash-port-mdpi.png" density="port-mdpi"/>
    <splash src="icons/android-splash-port-xhdpi.png" density="port-xhdpi"/>
  </platform>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
