#lightbulb {
  font-size: 100px;
  display: block;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 10px 0;
}

.chat-user-avatar {
  font-size: 40px;
  background: #fff;
  padding: 5px 10px;
}

.feature-icon {
  font-size: 44px;
  padding: 0;
  line-height: 68px;
  width: 72px;
  text-align: center;
  opacity: .8;
  border: 3px solid;
  border-radius: 200px;
  height: 72px;
  margin-bottom: 20px;
}

.feature-icon.fa-gamepad {
  line-height: 60px;
}

.feature-icon.fa-tachometer {
  line-height: 60px;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}


[drag-to-dismiss]{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

.notices-container {
  overflow-x: hidden;
}

.dismiss {
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.dismitted {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.list-group-item-home {
  padding: 20px; 
}

pre {
  text-align: left !important;
}

input.scrollable-header {
  border-bottom: 3px solid #ccc;
}
.app-body {background:#fff;}


.fa-bars {font-size:18px;}







.sidebar {background:url(img/bg_menu.jpg) no-repeat center center;     background-size: 100% 100%;
}

.sidebar .list-group-item {background:none; color:#fff;}

.sidebar .list-group-item, .sidebar a.list-group-item {border-bottom:1px solid #000937; border-top:1px solid #2e5d8b;}

 .sidebar a.list-group-item:first-child {}
 .sidebar a.list-group-item:last-child {border-bottom:1px solid #2e5d8b;}
 .sidebar .list-group {border-top:1px solid #000937;}
 .sidebar .list-group {border-bottom:1px solid #000937;}
 .sidebar a.list-group-item:hover {color:#fff; background:#00234b;}
 .list-group-item.active, .list-group-item.active:hover , .list-group-item.active:focus {border-color:#000937;}
 
 .sidebar .list-group-item.active, .sidebar .list-group-item.active:focus {background:#00234b;}
 
 
 
 
 
 
 
 
 
 .app-body {background:url(img/bg_home.jpg) no-repeat center center;     background-size: 100% 100%;}
 .section {padding:0; background:none;}
 
 .navbar-app {color:#fff; background:#0265ff; border:none; }
 .navbar-app *, .navbar-app .btn	 {color:#fff; }
 .panel {background:none;}
 
 element.style {
}
@media (min-width: 992px) {
.has-sidebar-left .app, .sidebar-left-in .app {
width: 960px;

}
}
 
 
.panel-default {border:none; box-shadow:none;}  
 
 
 
 .page-header {border:none;}
 
 
 
 .single-tabs .btn-group a {background:#0265ff; color:#fff; border:0; box-shadow:none; border-radius:0;}
 .single-tabs .btn-group  {border:none;}
 .single-tabs .btn-group > .btn-default.active, .single-tabs .btn-group > .btn-default.active:focus {background:#0265ff; font-weight:bold;}
 .single-tabs .page-header { margin:0;}
 
 
 
 
 
#ausstellerliste .list-group-item,
.favs .list-group-item {background:none;}
#ausstellerliste  ul {padding:15px;}
#ausstellerliste  ul li a  {display:block;}






.list-group-item a {color:#333;}


/*gal*/



.messeplan {background: url(img/demoContent/map.jpg) center center;
background-size: cover;}


.parken  {background: url(img/demoContent/parken.jpg) center center;
    background-size: cover;}



.modal {display: block;}
.modal-dialog {z-index:99999999999;}