<div ui-content-for="title">
  <span>Favoriten</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Favoriten</h3>
        </div>
        <div class="panel-body">



          <ul class="list-group favs"  ng-controller="favListCtrl">
            <li ng-repeat="article in availableGroups | filter:search" class="list-group-item" ><a href="#/single/{{article.id}}"> {{article.name}}</a><i class="fa fa-remove pull-right" ng-click="remove(article.id)"></i></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
