<div ui-content-for="title">
	<!-- Zurück Button: -->
	<a ng-click="$back()"><i class="fa fa-chevron-left pull-left" style="margin:1px 15px 0 50px;"></i></a>
	
	<!-- Überschrift: -->
	<span>Single</span>
</div>

	<!-- Favorit Symbol: -->
<div ui-content-for="navbarAction" ng-controller="favListeCtrl" ng-init="init({{articles.id}})">

    <!-- Versuch mit NG Init die Articles ID an den favlisteCtrl zu übergeben ( geht gerade nciht)-->


   <div> {{id}} : {{articles.id}}</div>




	<a  ng-click="click(articles.id)"><i class="btn fa fa-star" style="margin:0px 0px 0 0;"></i></a>
</div>

<div class="scrollable">

	


  <div class="scrollable-content">


    <div class="section">
	

	



      <div class="panel panel-default">




          <div class="slideshow" cycle style="height:336px;" >
              <img src="{{ item.src }}" ng-repeat="item in items" />
          </div>
         <!-- {{articles.id}}
          {{articles.name}}
          {{articles.subtitle}}
          {{articles.shortDesc}}
          {{articles.longDesc}}
          {{articles.projectType}}
          {{articles.fieldOfStudy}}
          {{articles.team}}
          {{articles.development}}
          {{articles.contact}} -->


{gal}


	  <div class="panel-body">

          <h3 class="project-title">{{articles.name}}</h3>
          {{articles.shortDesc}}
        </div>



          <div class="single-tabs">
        
         <div class="btn-group justified nav-tabs">
        <a ui-set="{'activeTab': 1}" 
            ui-class="{'active': activeTab == 1}" class="btn btn-default">Details</a>

        <a ui-set="{'activeTab': 2}" 
            ui-class="{'active': activeTab == 2}" class="btn btn-default">Team</a>

        <a ui-set="{'activeTab': 3}" 
            ui-class="{'active': activeTab == 3}" class="btn btn-default">Umsetzung</a>
        <a ui-set="{'activeTab': 4}" 
            ui-class="{'active': activeTab == 4}" class="btn btn-default">Kontakt</a>
      </div> 
        
        
<ui-state id='activeTab' default='1'></ui-state>

     

      <div ui-if="activeTab == 1" class="panel-body">
        <h3 class="page-header">Details:</h3>
        <p> {{articles.longDesc}}</p>
      </div>

      <div ui-if="activeTab == 2" class="panel-body">
        <h3 class="page-header">Team</h3>
          {{articles.team}}
      </div>

      <div ui-if="activeTab == 3" class="panel-body">
        <h3 class="page-header">Umsetzung:</h3>
        <p>{{articles.development}}</p>
      </div>
      <div ui-if="activeTab == 4" class="panel-body">
        <h3 class="page-header">Kontakt</h3>
        <p> {{articles.contact}} </p>
      </div>
            
 	</div><!--//singletabs//-->
             
      </div>
    </div>
  </div>
</div>
